apiVersion: v1
kind: ConfigMap
metadata:
  name: config
data:
  CONFIG_VAR: VALUE
---
apiVersion: v1
kind: Secret
metadata:
  name: secret
stringData:
  SECRET_VAR: ANOTHER_VALUE
---
apiVersion: apps.poconetes.dev/v1
kind: Application
metadata:
  name: full
  labels:
    custom: replicated-to-child-objects
spec:
  minReplicas: 2
  maxReplicas: 2
  image: nginx:1.7.10
  # mounts on all formation pocolets
  mounts:
  - path: /tmp/config
    name: config
    configMapRef:
      name: config
  # shares with all formation pocolets
  environmentRefs:
  - prefix: PREFIX_
    configMapRef:
      name: config
      optional: true
  - prefix: PP_ 
    secretRef:
      name: secret
      optional: true
  environment:
  - name: VAR_ON_APP
    value: TOP_LEVEL
  ports:
  - name: http
    port: 80
