apiVersion: apps.poconetes.dev/v1
kind: Initializer
metadata:
  name: unlock-vault
spec:
  image: ubuntu
  args: [ "sh", "-c", "echo $VAR_ON_INIT" ]
  environment:
  - name: VAR_ON_INIT
    value: "HAI, unlocking vault"

## /pocoshare is shared across all containers
