apiVersion: apps.poconetes.dev/v1
kind: Sidecar
metadata:
  name: metrics
spec:
  image: paulbouwer/hello-kubernetes:1.5
  environment:
  - name: PORT
    value: "8081"
  - name: MESSAGE
    value: im metrics
  ports:
  - name: metrics
    port: 8081
